name: Release Binarios

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: rust-lang/rustup@v1
      - run: cargo build --release --bin moon_full_node
      - uses: actions/upload-artifact@v4
        with:
          name: moon-${{ matrix.os }}
          path: target/release/moon_full_node*
